<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
	<a ng-href="#/" class="icon icon-left-nav pull-left"></a>
	<span class="pull-right" style="padding-top: 14px; padding-bottom: 14px; color: #AAA; font-size: 13px;">{{last_update}}</span>
	<h1 class="title"><img src="img/logo_ratp.png" style="width: 33px;position: relative;top: 9px;margin-right: 7px;" />SouriTP</h1>
	</header>

<div class="bar bar-standard bar-footer">
	<button class="btn btn-block" ng-click="reload()"><span class="icon icon-refresh" style="top:1px; font-size: 18px"></span> Actualiser</button>
</div>

<div class="content">
	<ul class="table-view" style="margin-top: 0px">
		<li class="table-view-divider" style="padding-top: 6px">{{title}}
      <span ng-click="trash()" class="icon icon-trash" style="font-size: 12px; float: right; padding-top:5px; padding-right:7px"></span></li>
		<li class="table-view-cell media" ng-repeat="bus in buses">
			<a class="navigate-right">
				<img class="media-object pull-left" style="margin-top:4px" ng-src="img/b{{bus[0]}}.gif">
				<div class="media-body">
					{{bus[1]}}
				</div>
			</a>
		</li>
	</ul>
</div>


